footer {
    background-color:rgb(245, 232, 243);
    padding: 2rem;
    margin-top: 2rem;
}

.footer-columns {
    display: flex;
    justify-content: left;
    gap: 150px;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer a {
    color: #2e2e2e;
    text-decoration: none;
    font-size: 0.9rem;
}

footer a:hover {
    text-decoration: underline;
    color:rgb(142, 56, 128);
}

.social-icons img {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    cursor: pointer;
}

footer p {
    text-align: left;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #555;
}